<!DOCTYPE html>
<html>
<head>
    <title>Assignments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>🎓 Study Planner</h2>
    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/subjects">Subjects</a>
        <a href="/assignments">Assignments</a>
        <a href="/exams">Exams</a>
        <a href="/timetable">Timetable</a>
        <a href="/progress">Progress</a>
        <a href="/alerts">🔔 Alerts</a>
        <a href="/logout">Logout</a>
    </div>
</nav>

<div class="main">

    <h1>📝 Assignments</h1>

    <div class="card">
        <h2>➕ Add Assignment</h2>

        <form method="POST">

            <input
                type="text"
                name="subject"
                placeholder="Enter Subject"
                required
            >

            <input
                type="text"
                name="title"
                placeholder="Assignment Title"
                required
            >

            <input
                type="date"
                name="due_date"
                required
            >

            <button type="submit">
                Add Assignment
            </button>

        </form>
    </div>

    <h2>📚 My Assignments</h2>

    {% for assignment in assignments %}

    <div class="list-item">

        <strong>📚 {{ assignment["subject"] }}</strong>
        <br><br>

        📝 {{ assignment["title"] }}
        <br>

        📅 Due Date:
        {{ assignment["due_date"] }}

        <br><br>

        {% if assignment["due_date"] < today %}
            <span class="danger">⚠️ Overdue</span>
        {% elif assignment["due_date"] == today %}
            <span class="danger">🔥 Due Today</span>
        {% endif %}

        <br>

        <a
            href="/edit_assignment/{{ assignment['id'] }}"
            class="btn"
        >
            ✏️ Edit
        </a>

        <form
            method="POST"
            action="/complete_assignment/{{ assignment['id'] }}"
            style="display:inline;"
        >
            <button type="submit">
                ✅ Complete
            </button>
        </form>

    </div>

    {% else %}

    <p>No assignments added yet.</p>

    {% endfor %}

</div>

</body>
</html>
