<!DOCTYPE html>
<html>
<head>
    <title>Exams</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>🎓 Study Planner</h2>

    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/subjects">Subjects</a>
        <a href="/assignments">Assignments</a>
        <a href="/exams">Exams</a>
        <a href="/timetable">Timetable</a>
        <a href="/progress">Progress</a>
        <a href="/alerts">🔔 Alerts</a>
        <a href="/logout">Logout</a>
    </div>
</nav>


<div class="main">

    <h1>📅 Exam Planner</h1>


    <!-- ADD EXAM -->

    <div class="card">

        <h2>➕ Add Exam</h2>

        <form method="POST">

            <input
                type="text"
                name="subject"
                placeholder="Enter Subject"
                required
            >

            <input
                type="date"
                name="exam_date"
                required
            >

            <button type="submit">
                ➕ Add Exam
            </button>

        </form>

    </div>


    <!-- EXAM LIST -->

    <h2>📋 My Exams</h2>

    {% for exam in exams %}

    <div class="list-item">

        <h3>📚 {{ exam["subject"] }}</h3>

        <p>
            📅 Exam Date:
            <strong>{{ exam["exam_date"] }}</strong>
        </p>


        {% if exam["exam_date"] < today %}

            <p class="success">
                ✅ Completed
            </p>

        {% elif exam["exam_date"] == today %}

            <p class="danger">
                🔥 Exam Today
            </p>

        {% else %}

           {% else %}

    <p>
        ⏳ Upcoming
    </p>

    <p>
        📆 <strong>{{ (exam["exam_date"] - today).days }} days left</strong>
    </p>

{% endif %}
        {% endif %}


        <!-- EDIT -->

        <a
            href="/edit_exam/{{ exam['id'] }}"
            class="btn"
        >
            ✏️ Edit
        </a>


        <!-- DELETE -->

        <form
            method="POST"
            action="/delete_exam/{{ exam['id'] }}"
            style="display:inline;"
        >

            <button
                type="submit"
                onclick="return confirm('Delete this exam?')"
            >
                🗑️ Delete
            </button>

        </form>

    </div>


    {% else %}

    <div class="card">

        <p style="font-size:18px;">
            📅 No exams added yet.
        </p>

    </div>

    {% endfor %}

</div>

</body>
</html>
