<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="form-box">

    <h1>📝 Create Account</h1>

    <form method="POST">

        <input type="text"
               name="username"
               placeholder="Username"
               required>

        <input type="password"
               name="password"
               placeholder="Password"
               required>

        <button type="submit">Signup</button>

    </form>

    <p>Already have an account?</p>

    <a href="/login">Login</a>

</div>

</body>
</html>
